*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --background: rgba(24, 58, 74, 1);
    --normal_number: rgba(61, 136, 174, 1);
    --fizz: rgba(97, 210, 164, 1);
    --buzz : rgba(249, 210, 119, 1);
}

body{
    background-color: var(--background);
}
h1{
    font-size: 50px;
    color:white;
}
.center{
    text-align: center;
}

.container_number{
    
    width: 1100px;
    height: 700px;
    margin:2rem auto;
    display:Flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.number{
    
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
}

